-Règles général
- Pas de Freekill (Tuer une personne sans raison RP valable).
- Pas de retour sur zone (Vous devez attendre 10 minutes pour revenir sur les lieux de votre mort)

- Pas de Prop-block (Prendre un prop, et empêcher le passage au niveau d'une porte, du spawn, etc...).

- Quand on utilise un fading-door et qu’il n’y a pas un keypad voir un bouton de chaque côté de cette porte, ceci est considéré comme un Prop-block.

- Pas de Prop-climb (Prendre un prop et s'en servir comme escalier pour aller dans un endroit inaccessible normalement).

- Pas de Freedemote (Rétrograder une personne sans raison valable).

- Le Use-Buton est interdit ! (Le fait d'ouvrir un props en faddingdoor pour tirer puis le refermer pour se mettre a couvert).

- Utiliser des props pour en faire des meurtrières, qu'elles soient horizontale ou verticale!!

- Vous pouvez démote un joueur dans le cadre du RP. Par contre si vous voulez démote un joueur pour NoRP et qu'un membre du staff est connecté il faudra le contacter ! Ne prenez jamais de décisions si un membre du staff est connecté !

- Respecter la règle du NLR("Règle Nouvelle Vie" : quand vous êtes mort, vous ne vous souvenez plus de votre ancienne vie).

- Quand vous vous faites tazer vous êtes obligé d'attendre 10 secondes avant de pouvoir bouger, si cette règle n’est pas respectée, cela est considéré comme du No-Pain RP.

- Marcher sur les routes sans raison est INTERDIT, sauf si vous voulez traverser.

- Il est INTERDIT de garder le PhysicGun ou le GravityGun dans les mains si vous l'utilisez pas.

- Il est INTERDIT de se balader dans la rue avec une arme (ou un tazer) dans les mains sans raisons. (Y comprit la Police)

- L'abus du voteban (généralement pour les VIP) sera lourdement sanctionné (ban perm).

- Si on vous met à genoux, quand vous vous relevez vous êtes censés ne plus rien avoir sur vous, donc si vous sortez une arme ou quelque chose dans le même genre vous serez sanctionnés.

- Si vous êtes dans une voiture et qu'UNE SEULE PERSONNE vous tire dessus ou vous demande de vous arrêter vous n'êtes pas dans l'obligation de répondre à ses attentes, vous pouvez vous enfuir.

 Par contre, si il y a MINIMUM 2 PERSONNES qui vous demandent de vous arrêter ou vous tirent dessus, vous devez jouer de manière RP le Fear-RP et répondre à leurs attentes.

- Pour tout ce qui se passe en général, faites référence à la vraie vie mais tout en RESPECTANT les règles.

- La courte échelle avec d'autres joueurs pour escalader ou franchir des barricades est autorisées ! UNIQUEMENT avec des joueurs !

- Lorsque vous êtes fouillé, vous n'avez pas le droit de sortir une arme de votre inventaire.

- Insultes HRP & RP ne sont pas tolérés sous peine de bannissement des serveurs.

- HRP Vocal ne sont pas tolérés pendant les actions RP sous peine de bannissement des serveurs.

- Ne pas insulter la famille d'un joueur, même dans un domaine RP.

- Pas de Metagaming, c’est-à-dire l’usage de connaissance Hors-RP dans un contexte RP (comme les informations au dessus des joueurs).

- Utiliser TeamSpeak ou Skype pour appeler des renforts alors qu’on nous a privés de moyens de communication est par exemple considéré comme du Metagaming et passible d’une sanction sévère.

- Interdiction d'exploiter des bugs. Quiconque serait surpris en train de profiter d’un bug ou d’un glitch sera sévèrement puni.

- Quand vous contactez un administrateur via le système des Tickets, merci d’être le plus complet possible (Nom du Joueur, Raison, Fautes, etc…) Tout les tickets du style : “admin tp plz”, “tp stp”, “ ///”, etc… ne seront pas pris en compte.

- Quand vous parlez ou que vous appelez un administrateur, merci de les respecter. Merci de vous adresser à eux correctement et sans impatience sans quoi vous risquez d'avoir une sanction allant jusqu'au bannissement permanent de nos serveurs. Si aucun administrateur ne vient vous aider, patience, ils sont occupés et s’occuperont de vous dès que possible.

- Vous n'avez pas le droit de mettre des noms racistes, de terroriste ou des noms avec des jeux de mots. Merci de respecter des Noms RP.

-Tous actes ou propos racistes, homophobes, anti-sémites, sexistes ou tout autre propos atteignant la dignité et l’intégrité d’une personne sera très sévèrement sanctionné d'un bannissement permanent.
